@model Forma_1.ViewModels.TeamViewModel

<div class="container-fluid">
		
    <h1>Add new team</h1>
    
    <div class="row">
        <div class="col-md-12">
            <form asp-action="SaveTeam" asp-controller="Home" method="post" class="form-horizontal" style="margin: 10px" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="@Model.Id">

                <div class="form-group">
                    <label class="control-label col-sm-2" for="Name">Team Name</label>
                    <input type="text" class="form-control" placeholder="Team name" asp-for="@Model.Name">
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div> 
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Founded">Founded</label>
                    <input type="text" class="form-control" placeholder="Founded" asp-for="@Model.Founded">
                    <span asp-validation-for="Founded" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Wins">Championship wins</label>
                    <input type="text" class="form-control" placeholder="Championship wins" asp-for="@Model.Wins">
                    <span asp-validation-for="Wins" class="text-danger"></span>
                </div>
                
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" asp-for="@Model.IsPaid">
                    <label class="custom-control-label" for="IsPaid">Payment completed </label>
                    <span asp-validation-for="IsPaid" class="text-danger"></span>
                </div>

                <input type="submit" class="btn btn-primary " value="Submit" />
            </form>
        </div>
    </div> 
</div>